﻿<svg xmlns="http://www.w3.org/200/svg" height="150" width="110">
    <circle cx="35" cy="35" r="30" fill="none" stroke="grey" stroke-width="5" stroke-linecap="round"/>
    <circle class="demo2" id="J_demo2" cx="35" cy="35" r="30" fill="none" stroke="red" stroke-width="5" stroke-dasharray="0,10000"/>
    <circle class="demo3" id="J_demo3" cx="35" cy="35" r="30" fill="none" stroke="#fff" stroke-width="5" stroke-dasharray="45,10000"/>
</svg>
<input id="J_btn_1" type="text" name="" value="10">
<input id="J_btn_2" type="button" name="" value="设置百分比">
<style>
  .demo2{
    transform-origin: center;
    transform: rotate(135deg);
    transition: stroke-dasharray .2s ease-in;
  }
  .demo3 {
    transform-origin: center;
    transform: rotate(45deg);
    transition: stroke-dasharray .2s ease-in;
  }
</style>
<script>
var demo2 =  document.querySelector("#J_demo2");
var btn1 = document.querySelector("#J_btn_1");
var btn2 = document.querySelector("#J_btn_2");

var circleLength = Math.floor(2 * Math.PI * demo2.getAttribute("r"));

window.onload = rotateCircle;

btn2.onclick = rotateCircle;
function rotateCircle () {
    var val = parseFloat(btn1.value).toFixed(2);
    val = Math.max(0,val);
    val = Math.min(100,val);
    demo2.setAttribute("stroke-dasharray","" + circleLength * val / 133.3 + ",10000");
}
</script>