﻿<svg xmlns="http://www.w3.org/200/svg" height="70" width="70">
    <circle class="demo1" cx="35" cy="35" r="30" fill="none" stroke="#0e8a6e" stroke-width="5" stroke-dasharray="141,10000" />
    <!-- stroke-dasharray: 2 * π * r -->
    <circle class="demo2" id="J_demo2" cx="35" cy="35" r="30" fill="none" stroke="rgba(255,255,255,1)" stroke-width="5" stroke-dasharray="0,10000"
    />
</svg>
<style>
    svg {
        background: #15c59d;
        border-radius: 5px;
        padding: 10px;
    }

    .demo1 {
        transform-origin: center;
        transform: rotate(135deg);
        transition: stroke-dasharray .2s ease-in;
    }

    .demo2 {
        transform-origin: center;
        transform: rotate(135deg);
        transition: stroke-dasharray .2s ease-in;
    }
</style>
<script>
    var demo2 = document.querySelector("#J_demo2");

    var r = 30;
    var val = 50;
    var circleLength = Math.floor(2 * Math.PI * r);

    function rotateCircle() {
        val = Math.max(0, val);
        val = Math.min(100, val);
        demo2.setAttribute("stroke-dasharray", "" + circleLength * val / 133.3 + ",10000");
    }
    window.onload = rotateCircle;
</script>