<form name="registerForm">
    <div class="loginpanel">
        <input type="text" ng-model="username" maxlength="15" name="username" ng-minlength="6" ng-maxlength="15" ng-pattern="/[0-9a-zA-Z]/" />
        <div class="errorMsg redFont" ng-show="registerForm.username.$invalid && registerForm.username.$dirty">
            <span ng-show="registerForm.username.$error.required">请输入你的用户名</span>
            <span ng-show="registerForm.username.$error.minlength">用户名过短</span>
            <span ng-show="registerForm.username.$error.maxlength">用户名过长</span>
            <span ng-show="registerForm.username.$error.pattern">用户名包含非法字符</span>
        </div>
        <br />
        <input type="password" ng-model="password" maxlength="15" name="password" ng-minlength="6" ng-maxlength="15" ng-pattern="/[0-9a-zA-Z]/" />
        <div class="errorMsg redFont" ng-show="registerForm.password.$invalid && registerForm.password.$dirty">
            <span ng-show="registerForm.password.$error.required">请输入您的密码</span>
            <span ng-show="registerForm.password.$error.minlength">密码长度不小于6</span>
            <span ng-show="registerForm.password.$error.maxlength">密码长度不能超过15</span>
            <span ng-show="registerForm.password.$error.pattern">密码包含非法字符</span>
        </div>
        <br />
        <button ng-click="$ctrl.login()" type="button" ng-disabled="(!registerForm.password.$dirty || !registerForm.username.$dirty) || (registerForm.password.$invalid || registerForm.username.$invalid)">Login</button>
    </div>
</form>