<div ng-controller="datasCtrl">
    <ol>
        <li ng-repeat="item in datas track by $index">
            <div>
                <span class="left"><span class="amount">￥{{item.amount}}</span></span>
                <span class="right">
                    <div class="subject">{{item.title}}</div>
                    <div class="desc">{{item.desc}}</div>
                </span>
            </div>
            <svg-rate rate-value='item.rate' receive-success='receiveSuccess(item)'></svg-rate>
        </li>
        <li ng-repeat="item in datas track by $index">
            <div>
                <span class="left"><span class="amount">￥{{item.amount}}</span></span>
                <span class="right">
                    <div class="subject">{{item.title}}</div>
                    <div class="desc">{{item.desc}} <span class="detailsbtn" ng-click="details($index)">详情</span></div>
                </span>
            </div>
            <svg-rate2 rate-value='item.rate'></svg-rate2>
        </li>
    </ol>
    <div ui-view></div>
</div>