<div class="ratepanel">
  <svg xmlns="http://www.w3.org/200/svg" height="50" width="50">
    <!-- stroke-dasharray: 2 * π * r * 0.75 -->
    <circle class="bg" stroke="#0e8a6e" stroke-dasharray="{{max}}" cx="25" cy="25" r="20" stroke-linecap="round" stroke-width="5"
      fill="none" />
    <circle class="value" stroke="rgba(255,255,255,1)" stroke-dasharray="{{val}}" stroke-linecap="round" cx="25"
      cy="25" r="20" stroke-width="5" fill="none" />
  </svg>
  <span class="rate">{{rate.toFixed(2) * 100}}%</span>
  <span class="r" ng-click="itemClick(this)">领取</span>
</div>