<div class="details-dialog-mask">
    <div ng-controller="dataDetailsCtrl" class="details-dialog">
        <div>
            <span class="close" ng-click="close()">×</span>
        </div>
        <div>
            {{currentItem}}
        </div>
    </div>
</div>