<form name="xx">
    <p>名字 : <input type="text" ng-model="name"></p>
    <p>名字 : <input type="email" ng-model="firstName" name="firstName"></p>
    {{xx.firstName.$valid}}
    <h1>{{firstName}} {{name}}</h1>
    <div ng-controller="myCtr2">
        <h1>{{firstName}}</h1>
    </div>
    <runoob-directive></runoob-directive>
</form>