* {
  box-sizing: border-box !important;
}
html {
  font-family: '微软雅黑';
  font-size: 10px;
  background: #eee;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 0;
}
body, html {
  margin: 0;
}
body {
  padding: 1em;
  font-size: 14px;
  width: 100%;
  max-width: 375px;
  background: #fff;
}

ol {
  display: block;
  padding: 0.5em;
  margin: 0;
  border: none;
  list-style: none;
  background: #ddd;
}
ol li {
  display: flex;
  padding: 0;
  list-style: none;
}
ol li:not(:last-child) {
  margin-bottom: 0.4em;
}
ol li > *:first-child {
  border-radius: 5px;
  background: #fff;
  flex: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
}

ol li > *:first-child .left {
  width: 65px;
  padding: 0 5px;
  border-right: 4px solid #eee;
  text-align: center;
}
ol li > *:first-child .left .amount {
  color: darkcyan;
  font-size: 16px;
  font-weight: 600;
  line-height: 60px;
}

ol li > *:first-child .right {
  flex: 1;
  overflow: hidden;
  padding: 0 5px;
  line-height: 1em;
}
ol li > *:first-child .right .subject {
  font-size: 14px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  margin-bottom: 0.4em;
}
ol li > *:first-child .right .desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  font-size: 11px;
  color: #888;
  overflow: hidden;
  height: 2.4em;
}
ol li .right .detailsbtn{
  color: #0094ff;
}

.details-dialog-mask {
  background: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 3;
  height: 100%;
  width: 100%;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.details-dialog {
  position: absolute;
  display: block;
  height: 220px;
  width: 70%;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #fff;
  box-shadow: 0 0 5px #000;
  border-radius: 5px;
  padding: 1em;
}
.details-dialog .close {
  display: inline-block;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  line-height: 1em;
  border:1px solid #ccc;
  float: right;
  text-align: center;
  color: #ccc;
}
.details-dialog .close:active{
  color: red;
  border-color: red;
}


.ratepanel {
  user-select: none;
  background: #15c59d;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
}
.ratepanel *::selection {
  background: transparent;
  color: none;
}
.ratepanel svg {
  transform: rotate(135deg);
}

.ratepanel .bg {
  transform-origin: center;
  transition: stroke-dasharray .2s ease-in;
}

.ratepanel .value {
  transform-origin: center;
  transition: stroke-dasharray .2s ease-in;
}

.ratepanel .rate {
  transform: scale(0.5);
  color: #fff;
  line-height: 2em;
  margin-top: -2.5em;
  margin-bottom: 0.5em;
  display: block;
  position: relative;
}

.ratepanel .r {
  display: block;
  font-size: 11px;
  color: #555;
  background-color: #fff;
  line-height: 16px;
  text-align: center;
  border-radius: 8px;
  width: 80%;
  margin: 0 10%;
  margin-top: -8px;
  cursor: pointer;
}

.ratepanel .r:active{
  opacity: 0.8;
}



.loginpanel button,
.loginpanel input{
  display: block;
  line-height: 3em;
  padding: 0 1em;
  margin: 0;
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  font-size: 12px;
}
.loginpanel button:not(:disabled) {
  background: #0094ff;
  color: #fff;
  border-color: #0094ff;
}



.tabs {
  display: flex;
  background: #fff;
}
.tabs > * {
  flex: 1;
  line-height: 3em;
  color: #888;
  text-align: center;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.tabs > *.active,
.tabs > *:active {
   color: #000;
   background: #eee;
}
.tabcontent {
  padding: 1em;
}